
@{
    ViewBag.Title = "AddSkill";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Yeni Yetenek Ekleme Sayfası</h2>

<form method="post">
    <label>Yetenek Adı</label>
    <input type="text" class="form-control" name="Title" />
    <br />
    <label>Yüzdelik</label>
    <input type="text" class="form-control" name="Value" />
    <br />
    <button class="btn btn-info">Yetenek Ekle</button>

</form>

