
<section id="home" class="w3l-banner pb-5">
    <div class="container pb-md-3">
        <div class="banner-wrapper text-center">
            <div class="">
                <span class="text">Hakkımda</span>
                <h1 class="mb-4 title">
                   Merhaba, <span class="type-js"><span class="text-js">Ben Kerem Dağlar</span></span><br>
                    Bilgisayar Mühendisiyim.
                </h1>
                <p class="mx-lg-5">
                    Ben <strong>Kodlamayı</strong> ve <strong>Bilgisayarda vakit geçirmeyi</strong> çok seviyorum ve yıllarca bilgisayar başındayım.
                    Harika işlere birlikte imza atabiliriz!
                </p>
            </div>
            <div class="row">
                <div class="col-lg-8 mx-lg-auto col-md-10">
                    <img src="~/Templates/iportfolio-starter/assets/images/WhatsApp Görsel 2023-09-06 saat 22.35.17.jpg" alt="" class="img-fluid mt-lg-5 mt-3">
                </div>
            </div>
            <ul class="follow-social">
                <li><p>Beni Takip Et </p></li>
                <li><a href="https://github.com/KeremD22"><span class="fa fa-github"></span></a></li>
                <li><a href="https://www.linkedin.com/in/kerem-dağlar-a15477262/"><span class="fa fa-linkedin"></span></a></li>
                <li><a href="#url"><span class="fa fa-facebook-official"></span></a></li>
                <li><a href="#url"><span class="fa fa-twitter"></span></a></li>
            </ul>
        </div>
    </div>
</section>